* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dceleb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0.2rem 0.3rem var(--color-light);
}
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  min-height: 100vh;
}

/* #### Sidebar Section #### */

.container__sidebar {
  /* background-color: #ffbb55; */
  width: 20rem;
  padding: 1rem 1rem 0 1rem;
  color: var(--color-dark-variant);
  height: 100vh;
  position: fixed;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 7rem);
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.sidebar__logo img {
  width: 3rem;
  height: 3rem;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo__text--black {
  color: var(--color-dark);
}

.logo__text--red {
  color: var(--color-danger);
}

.menu__items {
  list-style: none;
  font-size: 1rem;
}

.menu__items--linkName {
  display: flex;
  align-items: center;
  margin: 0 1rem 1.6rem 0;
}

.menu__items--linkName span {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.menu__items--linkName.active {
  padding: 1.3rem 1.3rem 1.3rem 0;
  background-color: var(--color-light);
  position: relative;
  color: var(--color-primary);
}

.menu__items--linkName.active a {
  color: var(--color-primary);
}

.menu__items--linkName.active:before {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 100%;
  width: 0.5rem;
  color: red;
}

.menu__items--linkName a {
  text-decoration: none;
  color: var(--color-dark-variant);
}

.logout li {
  margin-top: auto;
}

/* #### Header Section #### */
.header {
  position: fixed;
  width: calc(100% - 18.4rem);
  top: 0;
  left: 18.4rem;
  padding: 1rem;
}

.header__contentWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.button__toggleTheme {
  align-self: flex-start;
  font-size: 0;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: auto;
}

.header__profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.header__userRole {
  text-align: right;
}

.header__name {
  font-weight: 700;
}

.header__hamburgerMenu.hidden {
  visibility: hidden;
}

.button__toggleTheme button {
  cursor: pointer;
  padding: 2px 6px 2px 6px;
  outline: none;
  border: none;
  font-size: 1.4rem;
}

.button__toggleTheme--light {
  background-color: var(--color-primary);
  border-radius: 5px;
  left: 5px;
}

.button__toggleTheme--dark {
  background-color: var(--color-info-dark);
  border-radius: 5px;
}

.btnLight--Clicked {
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.btnDark--Clicked {
  left: -5px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.button__toggleTheme--light i {
  color: var(--color-background);
}

.header_title {
  font-weight: 700;
  font-size: 2rem;
}

/* #### Dashboard Section #### */

.container__dashboard {
  padding: 1rem;
  position: relative;
  left: 20rem;
  width: calc(100% - 20rem);
  display: flex;
  height: 100vh;
  gap: 2rem;
  flex-wrap: wrap;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  flex: 1 1 auto;
}

.calendar__date {
  border-radius: var(--border-radius-1);
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  background-color: var(--color-light);
  border: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* #### Cards Section #### */

.dashboard__cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.dashboard__cards .card {
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  flex: 1 1 auto;
}
.card__info > * {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}
.card__info__icon i {
  border-radius: 50%;
  padding: 0.6rem;
  font-size: 1.1rem;
  color: var(--color-background);
}

.cards__totalSales .card__info__icon i {
  background-color: var(--color-primary);
}
.cards__totalExpenses .card__info__icon i {
  background-color: var(--color-danger);
}
.cards__totalIncome .card__info__icon i {
  background-color: var(--color-success);
}

.card__info__text {
  font-weight: 700;
  font-size: 1rem;
}

.card__info__price {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.card__info__last24Hours {
  font-size: 0.6rem;
  color: var(--color-info-dark);
  letter-spacing: 1px;
}

.card__pieChart {
  border-radius: 50%;
  background-color: var(--color-primary);
  padding: 3rem;
}

/* #### Table Section #### */

.dashboard__table {
  border-radius: 1rem;
  /* box-shadow: var(--box-shadow); */
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  padding: 2.2rem 2rem 3rem 2rem;
}

.table__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.table {
  font-size: 1.3rem;
  border-radius: 1rem;
  border-collapse: collapse;
  width: 100%;
}
thead.center,
tbody.center {
  text-align: center;
}

thead tr th {
  font-size: 1.1rem;
  padding-bottom: 0.7rem;
}

table.table tbody tr:not(:last-child) {
  border-bottom: 1px solid #f0eeee;
}

table.table tbody tr td {
  padding: 10px;
  font-size: 1.2rem;
  color: var(--color-info-dark);
}

table.table td.pending {
  color: var(--color-warning);
}

table.table td.declined {
  color: var(--color-danger);
}

.dashboard__table__showAll {
  border: none;
  background: none;
  color: var(--color-dark);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.dashboard__wrapper {
  flex: 1 1 auto;
  width: calc(100% - 2rem);
}

/* #### Right Sidebar Section #### */
.container__rightSidebar {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
}

.rightSidebar__recentUpdates {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
}

.recentUpdates__items__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  list-style: none;
  gap: 1rem;
  font-size: 0.8rem;
}

.recentUpdates__items__item img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.items__item__info p {
  margin-top: 0.5rem;
  color: #7d8da1;
}

.item__info__name {
  font-weight: 700;
}
.salesAnalytics__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
  background-color: var(--color-white);
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.salesAnalytics__item_icon {
  border-radius: 50%;
  padding: 1rem;
}

.salesAnalytics__item_icon--blueColor {
  background-color: var(--color-primary);
}

.salesAnalytics__item_icon--redColor {
  background-color: var(--color-danger);
}

.salesAnalytics__item_icon--greenColor {
  background-color: var(--color-success);
}

.salesAnalytics__item_icon i {
  color: var(--color-white);
}
.salesAnalytics__item__status {
  font-size: 0.8rem;
}
.item__status--orders {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.item__status__last24Hours {
  font-size: 0.7rem;
  color: #7d8da1;
}

.salesAnalytics__item--percentPositive {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--color-success);
}
.salesAnalytics__item--percentNegative {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--color-danger);
}

.salesAnalytics__item__counts {
  font-size: 0.9rem;
  font-weight: 700;
}
